:root{
  --c1: #DBE5FF;
  --c2: #678FFE;
  --c3: #A3BCFF;
  --c4: #012998;
  --c5: #091534;
}

body, html {
  height: 100%;
  margin: 0;
}
*,h1,h2,h3,h4,h5,h6{
  font-family: 'Cinzel', serif;
}
.bg {
  background-image: url("../images/wp.jpg");
  height: 100%;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
nav{
  padding-left: 2%;
  padding-right: 2%;
  background-color: var(--c4);
}
@media only screen and (max-width: 768px) {
  .text{
    display: none;
  }
  .tex-t{
    display: block;
    text-align: justify;
    padding: 2%;
  }
}
@media only screen and (min-width: 768px){
  .text{
    width: 70%;
    padding: 2%;
  }
  .tex-t{
    display: none;
  }
}

.tab {
  overflow: hidden;
  border: 1px solid var(--c2);
  background-color: var(--c1);
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: var(--c2);
}

.tab button.active {
  background-color: var(--c2);
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid var(--c2);
  border-top: none;
}

.tabcontent img{
  width: 100%;
}
 td{
  padding: 5px 5px;
}
.padd {
  padding: 10px 5px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--c1);
}

::-webkit-scrollbar-thumb {
  background: var(--c3);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--c2); 
